@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);

.produtos{
    background-color: #F1DBDB;
}


figure {
	position:relative;
	width:100%;
	min-height:160px;
	display:block;
	float:left;
	overflow:hidden;
	margin:10px 0;
	box-shadow:inset 0px 2px 3px rgba(0,0,0,.2);
	-webkit-transition: all .15s ease-in-out;
}
.ocean {
	background-color:0;
	background-size:cover;
	background-position: center center;
}
figcaption {
	display:block;
	float:0;
	position:absolute;
	top:0;
	left:0;
	color:#FFF;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	margin:0 0 0 0;
    padding:70px;
	padding-left:100px;
	
}


/* CONTATOS */

.contatos{
    background-color: #F1DBDB;
    height: 100vh;   
    overflow-x: hidden;
}

.mapa{
    margin-top:15vh;
}

.textomapa{
	text-align: center;
}

.phone{
    height:80px;
    width: 80px;
    margin-top: 15vh;
}

.insta{
    height:80px;
    width: 80px;
	margin-top: 16vh;
}

.email{
    height:80px;
    width: 80px;
	margin-top: 17vh;
	
}

.textphone{
	text-align:center;
}

.textinsta{
	text-align:center;

}
.textemail{
	text-align:center;

}

#textos{
	text-align: center;
}

/* HOVERS */
